<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kedevelopers.supermarketprices">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductView"
            android:label="@string/title_activity_product_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kedevelopers.supermarketprices.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".AdminAddUser"
            android:label="@string/title_activity_admin_add_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SupermarketAdmin"
            android:label="@string/title_activity_supermarket_admin" />
        <activity
            android:name=".AddProduct"
            android:label="@string/title_activity_add_product"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kedevelopers.supermarketprices.SupermarketAdminProducts" />
        </activity>
        <activity
            android:name=".SupermarketAdminProducts"
            android:label="@string/title_activity_supermarket_admin_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListUsers"
            android:label="@string/title_activity_list_users"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>